html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
body {font-size: 1.4rem;/*1.4 × 10px = 14px */}
body{_overflow:auto;_height:100%;margin:0 auto;font: 13px/1.231 arial,helvetica,clean,sans-serif;}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
html,body{
	width: 100%;
	height: 100%;
	position: relative;
	background: #f0f0f6;
	overflow: hidden;
}

#noadd_wrap{
	width: 100%;
	height: 100%;
	display: -moz-box;
    display: -webkit-box;
    display: box;
    -webkit-box-orient:vertical;
    box-orient:vertical;
    -moz-box-orient:vertical;
    background: #f0f0f6;
    display: block;
    background: #f0f0f6;
    overflow: auto;
	overflow-x:hidden 
}
#noadd_wrap img{
	width: 13rem;
	height: 13rem;
	position: absolute;
	left: 50%;
	margin-left: -6.5rem;
	top:85px;
}
#noadd_wrap p{
	margin-top: 255px;
	text-align: center;
	color: #999999;
	font-size: 1.5rem;
}

#noadd_wrap a{
	width: 80%;
	display: block;
	color: #fff;
	height: 40px;
	line-height: 40px;
	margin-left: 10%;
	background:#2882e2;
	text-align: center;
	margin-top: 25px;
	border-radius: 5px;
	font-size: 1.8rem;
}